<%= link_to 'Add a New Trader', new_user_path, class: "btn btn-primary" %>

<%= link_to "Traders Pending Approval", admin_users_pending_path %>

<h2>List of all Traders</h2>

<table>
  <tr>
    <th>Full Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>   
      <td><%= link_to "Show", user_path(user) %> </td>
      <td><%= link_to "Edit", edit_user_path(user) %> </td>
      
    
    </tr>
  
  <% end %>
  
</table>

